:root{
    /*different background colors for different sizes*/
    --color-Mob: #FFFFFF;
    --color-Tab: #4287f5;
    --color-Laptop: #eb4034;
    --color-Desktop: #fcba03;
   

}
/*Default margin and padding*/
*{
    Margin: 0;
    Padding: 0;
    Box-sizing: border-box;

}
body{
    font-size:50px;
    font-family:sans-serif;

}
.container{
    display: grid;
    place-items: center;
    background-color:aqua;
    height: 100vh;
}
.text{
    font-size: 1.5rem;

}
.text2{
    font: size 0.5rem;
}
/*mobile screen size*/
@media screen and (min-width: 576px) {
    .container{
        background-color: var(--color-Mob);

    }
}

@media screen and (min-width: 768px) {
    .container{
        background-color: var(--color-Tab);
    }
}

@media screen and (min-width: 992px) {
    .container{
        background-color: var(--color-Laptop);
    }
}

@media screen and (min-width: 1920px) {
    .container{
        background-color: var(--color-Desktop);
    }
}
