html{
    scroll-behavior: smooth;

}
.bg-1{
    background-color: grey;
}
.bg-2{
    background-color: burlywood;
}
.navbar{
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
    letter-spacing:5px;
}
